/* Relative positioning */
.static-box {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  position: absolute;
  top: 20px; /* Moves the element 20px down from its original position */
  left: 20px; /* Moves the element 20px right from its original position */
}

/* Absolute positioning */
.static2-box {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  position: absolute;
  top: 50px; /* Moves the element 50px down from its original position */
  left: 50px; /* Moves the element 50px right from its original position */
}

.static3-box {
  width: 100px;
  height: 100px;
  background-color: lightgoldenrodyellow;
  position: absolute;
  top: 100px; /* Moves the element 100px down from its original position */
  left: 100px; /* Moves the element 100px right from its original position */
}